extends layout
block content
    .w3-container
        h1 Lista de entidades
        table.w3-table-all
            tr
                th sigla
                th designacao
                th Ver informação da entidade
            each ent in lista
                tr
                    td=ent.sigla
                    td=ent.designacao
                    td
                      button.w3-circle.w3-blue-grey(onclick="VerEntidade('"+ent.id+"')") Ver
        address
            a(href="http://localhost:3000/") HomePage